@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Roboto:wght@700&family=Sofia&display=swap');
:root{
    --gugi: "Gugi", cursive;
}

* {   padding:0;   margin:0; } 
.intro {   
    display: table;  
    width: 100%;  
    height: 100vh;
    padding: 100px 0;
    color: white; 
    background: url('http://lab27.blob.core.windows.net/wordpress/2016/05/css-code.jpeg') no-repeat bottom center scroll; 
    background-position: 30% 45%;   background-size: cover; 
    }


body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-family: var(--gugi);

}
.background{
    background-image: url(../assets/wall-login.jpg);
    background-size: cover;
    background-color: yellowgreen;
    
}
.box{
    background-color: rgba(0, 10, 3, 0.534);
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 8px;
    box-shadow: -1px -1px 1px 1px white;
    font-family: var(--gugi);
}

.box h1{
    color: rgb(250, 250, 250);
    text-transform: uppercase;
    font-weight: 500;
    font-family: var(--gugi);
}

.box input[type = "text"],.box input[type = "password"],.box input[type= "email"]{
    border: 0;
    background: rgba(255, 255, 255, 0.945);
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid rgba(241, 240, 240, 0.39);
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: rgb(65, 64, 64);
    border-radius: 24px;
    transition: 0.25s;
    font-family: var(--gugi);
}

.box input[type = "text"]:focus, .box input[type = "password"]:focus, .box input[type= "email"]:focus{
    width: 280px;
    border-color: rgb(7, 104, 7);
}

.box input[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid rgb(7, 104, 7);
    padding: 14px 40px;
    width: 200px;
    outline: none;
    color: rgb(255, 255, 255);
    border-radius: 24px;
    transition: 0.25s;  
    cursor: pointer;
    font-family: var(--gugi);
}

input[type = "submit"]:hover{
    background-color: rgb(7, 104, 7);
}

a{
    color:  rgb(255, 255, 255);
    transition: 0.25s;
    text-decoration: none;
    font-family: var(--gugi);
}

a:hover{
    color: rgb(7, 104, 7);
}

back-login{
    background-color: green;
}

