@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Roboto:wght@700&family=Sofia&display=swap');
:root{
    --light-gray: #2b3032a1;
    --primary-color: #45ccb8;
    --border: #2b303218;
    --text-color: #ff686b;
    --roboto: "Roboto", sans-serif;
    --gugi: "Gugi", cursive;
    --sofia: "Sofia", cursive;
}


.primary-color{
    color: var(--primary-color);
}

.bg-primaty-color{
    background-color: var(--primary-color) !important;
}

.text-color{
    color: var(--text-color);
}

.font-roboto{
    font-family: var(--roboto);
}

lighblue{
    color: lightblue;
}

/*Header*/

header{
    background-image: url(../assets/wall.jpg);
    background-size: cover;
}

header .site-title{
    font-family: var(--gugi);
}

.container .dropdown-toggle,
.container .dropdown-item{
    font-size: 0.7em;
}

.header-links a{
    font-size: 0.9em;   
    text-decoration: none;
    color: rgb(248, 248, 248);
    transition: 1s;
}


.nav-item:hover{
    background-color: rgba(58, 165, 44, 0.514);
  
}

.nav-nav .nav-link{
    font-size: 0.9em;
    color: var(--light-gray) !important;
}

.navbar-nav .nav-item .nav-link{
    padding:  0 1.3em;
}

.navbar-nav .basket-icon{
     margin-right: 6.5rem;
}

.carousel-inner{
    height: cover;
    image-resolution: cover;
    max-height: 600px;
    max-width: 2300px;
}

span{
    border-radius: 20px;
    padding: 5px;
    transition: 0.3s;
    position: relative;
    background-color: rgb(238, 237, 237);
    color: rgb(59, 59, 59);
    font-family: var(--gugi);

}



span:hover{
    padding: 10px;
}

.wall{
    background-color: rgba(205, 92, 92, 0);
    background-size: cover;
}
input[type = "submit"]:hover{
    background-color: rgb(7, 104, 7);
}
input[type = "text"],input[type = "password"],input[type= "email"]{
    border: 0;
    background: rgba(255, 255, 255, 0.945);
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid rgba(53, 52, 52, 0.39);
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: rgb(65, 64, 64);
    border-radius: 24px;
    transition: 0.25s;
    font-family: var(--gugi);
}

input[type = "text"]:focus,  input[type = "password"]:focus,  input[type= "email"]:focus{
    width: 280px;
    border-color: rgb(7, 104, 7);
}

input[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid rgb(7, 104, 7);
    padding: 14px 40px;
    width: 200px;
    outline: none;
    color: rgb(255, 255, 255);
    border-radius: 24px;
    transition: 0.25s;  
    cursor: pointer;
    font-family: var(--gugi);
}
input[type = "submit"]:hover{
    background-color: rgb(7, 104, 7);
}
/*Quando comecei a fazer esse código só duas pessoas sabiam como usa-lo eu e Deus, hoje, só Deus sabe*/

textarea{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    border: 2px solid rgb(7, 104, 7);
    padding: 14px 40px;
    outline: none;
    color: rgb(255, 255, 255);
    transition: 0.25s;  
    cursor: pointer;
    font-family: var(--gugi);
}

p, h1, h2, h3, h4{
    font-family: var(--gugi);
}

.container-fluid{
    font-family: var(--roboto);
}

.valor{
    background-color: green;
    color: white;
}

.text-area {
    margin-left: 70px;
    margin-right:70px;
    margin-top: 20px;
}

.text-area p{
    margin-left: 70px;
    margin-right:70px;
    margin-top: 20px;
    font-family: var(--roboto);
}

.text-area h4{
    margin-left: 50px;
    margin-right:50px;
    margin-top: 20px;
    font-family: var(--roboto);
}

#confirm {
    display: none;
    background-color: #FFFFFF;
    border: 1px solid #aaa;
    position: fixed;
    width: 250px;
    left: 50%;
    margin-left: -100px;
    padding: 6px 8px 8px;
    box-sizing: border-box;
    text-align: center;
 }
 #confirm button {
    background-color: #48E5DA;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 5px;
    text-align: center;
    width: 80px;
    cursor: pointer;
 }
 #confirm .message {
    text-align: left;
 }