@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Roboto:wght@700&family=Sofia&display=swap');
:root{
    --light-gray: #2b3032a1;
    --primary-color: #45ccb8;
    --border: #2b303218;
    --text-color: #ff686b;
    --roboto: "Roboto", sans-serif;
    --gugi: "Gugi", cursive;
    --sofia: "Sofia", cursive;
}

.primary-color{
    color: var(--primary-color);
}

.bg-primaty-color{
    background-color: var(--primary-color) !important;
}

.text-color{
    color: var(--text-color);
}

.font-roboto{
    font-family: var(--roboto);
}

lighblue{
    color: lightblue;
}

/*Header*/

header{
    background-image: url(../assets/wall.jpg);
    background-size: cover;
}

header .site-title{
    font-family: var(--gugi);
}

.container .dropdown-toggle,
.container .dropdown-item{
    font-size: 0.7em;
}

.header-links a{
    font-size: 0.9em;   
    text-decoration: none;
    color: rgb(248, 248, 248);
    transition: 1s;
}


.nav-item:hover{
    background-color: rgba(58, 165, 44, 0.514);
  
}

.nav-nav .nav-link{
    font-size: 0.9em;
    color: var(--light-gray) !important;
}

.navbar-nav .nav-item .nav-link{
    padding:  0 1.3em;
}

.navbar-nav .basket-icon{
     margin-right: 6.5rem;
}

.carousel-inner{
    height: cover;
    image-resolution: cover;
    max-height: 600px;
    max-width: 1440px;
}

span{
    border-radius: 20px;
    padding: 5px;
    transition: 0.3s;
    position: relative;
    background-color: rgb(238, 237, 237);
    color: rgb(59, 59, 59);
    font-family: var(--gugi);

}

span:hover{
    padding: 10px;
}

.wall{
    background-image: url(../assets/wall.jpg);
    background-size: cover;
}

/*Quando comecei a fazer esse código só duas pessoas sabiam como usa-lo eu e Deus, hoje, só Deus sabe*/
